<h2>Create post:</h2>

<form action="<%= sub_posts_url(@sub.id) %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %> ">

  <input type="hidden" name="post[sub_id]" value="<%= @sub.id %> ">

  <label for="title">Title:</label>
  <br>
  <input type="text" name="post[title]" id="title">
  <br>

  <label for="url">URL:</label>
  <br>
  <input type="text" name="post[url]" id="url">
  <br>

  <label for="content">Content:</label>
  <br>
  <input type="text" name="post[content]" id="content">
  <br>

  <input type="submit" value="Submit">

</form>
