<h2>Create sub:</h2>

<form action="<%= subs_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %> ">

  <label for="title">Title:</label>
  <br>
  <input type="text" name="sub[title]" id="title">
  <br>

  <label for="description">Description:</label>
  <br>
  <input type="text" name="sub[description]" id="description">
  <br>

  <input type="submit" value="Submit">

</form>
