/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$black: #161616;
$grey: #747474;

.pokemon-list img {
	width: 20px;
	margin: 0px 10px;
	vertical-align: middle;
}

.pokemon-list {
	list-style: none;
	font-size: 12px;
	margin-top: 10px;
}

.pokemon-list li:first-child {
	border-top:  1px solid grey;
}

.pokemon-list li {
	padding: 5px 10px;
	border-bottom: 1px solid grey;
}

.pokemon-list li:hover {
	-webkit-filter: brightness(210%);
	cursor: pointer;
}

html {
	height: 100%;
}

body {
	font-family: sans-serif;
	background: $black;
	color: $grey;
	font-size: 12px;
	height: 100%;
	padding-right: 10px;
}

header {
	display: flex;
	img {
		z-index: 1;
	}
	div {
		background: url(/assets/pokedex-header-nav.png);
		width: 100%;
		height: 46px;
		margin-right: -10px;
	}
}
